@import url('default.css');

/*Estilos para telas até 480px de largura*/
@media screen and (max-width: 480px) {
}

/*Estilos para telas mínimas de 481px até 767px de largura*/
@media screen and (min-width: 481px) and (max-width: 767px) {
}

/*Estilos para telas mínimas de 768px até 1023px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/*Estilos para telas mínimas de 1024px*/
@media screen and (min-width: 1024px) {

    body {
        padding: 2%;
        background-image: url("../images/pexels-roman-odintsov-8355744.avif");
        background-position: center bottom;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
    }

    .container {
        background-color: var(--color-white);
        border-radius: 25px;
        height: 70vh;
    }

    .topo {
        padding: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .topo .logo svg {
        width: 150px;
        height: auto;
    }

    .topo .adicionar button {
        display: flex;
        align-items: center;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: var(--color-accent);
        transition: 180ms ease-in-out;
    }

    .topo .adicionar button:active {
        transform: scale(1.1, 1.1);
    }

    .topo .adicionar button span {
        margin-left: 5px;
        color: var(--color-dark);
        font-size: 1rem;
    }

    .conteudo {
        background-color: var(--color-white);
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 2%;
        border-radius: 25px;
    }

    .lista-lateral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile {
        display: flex;
        flex-direction: column;
        padding: 10%;
    }

    .profile .informacoes {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .profile .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile .wrapper span {
        margin-left: 5px;
    }

    .profile .logout {
        display: flex;
        width: 100%;
        margin: 10px 0;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
        padding: 10px;
    }

    .profile .logout button {
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white);
        transition: 180ms ease-in-out;
    }

    .profile .logout button:active {
        transform: scale(1.1, 1.1);
    }

    .profile .logout button span {
        color: #FF6366;
        font-size: 1rem;
        font-weight: bold;
    }

    .lista-lateral ul {
        padding: 2% 5%;
    }

    .menu-btn {
        position: relative;
        display: flex;
        align-items: center;
    }

    .menu-btn:active {
        transform: scale(1.1, 1.1);
    }

    .submenu {
        display: none;
    }

    .submenu.aberto {
        display: flex;
    }

    .menu-btn .submenu {
        position: absolute;
        width: 10vw;
        top: 28px;
        z-index: 10;
        left: -8vw;
        background-color: var(--color-white);
        padding: 10px;
        flex-direction: column;
        border-radius: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .menu-btn .submenu > button {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        padding: 10px;
        margin: 5px 0;
        border-radius: 16px;
        background-color: var(--color-white);
        border: none;
    }

    .menu-btn .submenu > button:hover {
        font-weight: bold;
    }

    .menu-btn .submenu > button:nth-child(1) {
        color: var(--color-dark);
    }

    .menu-btn .submenu > button:nth-child(2) {
        color: var(--color-red-text);
    }

    .lista-lateral ul li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5% 0 5% 12px;
    }

    .lista-lateral ul li .item {
        display: flex;
        align-items: center;
    }

    .lista-lateral ul li .item .cor {
        margin-right: 5px;
        border: none;
        border-radius: 100px;
        background: transparent;
        width: 50px;
        height: 50px;
    }

    .lista-lateral ul li .item .cor {
        margin-right: 5px;
        border: none;
        border-radius: 100px;
        background: transparent;
        width: 50px;
        height: 50px;
        cursor: pointer;
        padding: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    .lista-lateral ul li .item .cor::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    .lista-lateral ul li .item .cor::-webkit-color-swatch {
        border: none;
        border-radius: 100px;
    }

    .lista-lateral ul li .item .cor::-moz-focus-inner {
        border: none;
        padding: 0;
    }

    .cartoes .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: inherit;
        height: 70vh;
        padding: 10px 30px 10px 5px;
        overflow-y: auto;
        gap: 20px;
        margin-right: 18px;
    }

    .cartoes .card {
        background-color: var(--color-light-yellow);
        padding: 2% 3%;
        border-radius: 25px;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        position: relative;
    }

    .cartoes .card .titulo {
        display: flex;
        justify-content: space-between;
    }

    .cartoes .card .titulo span {
        color: var(--color-dark);
        font-weight: bold;
        font-size: 1.2rem;
    }

    .cartoes .card .titulo button {
        color: var(--color-dark);
        background-color: transparent;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 180ms ease-in-out;
        border-radius: 5px;
        z-index: 10;
    }

    .cartoes .card .titulo button:hover {
        border: 1px solid var(--color-dark);
    }

    .cartoes .card .titulo button:active {
        transform: scale(1.1, 1.1);
    }

    .cartoes .card .conteudo-card {
        margin-top: 2%;
    }

    .cartoes .card .outros {
        display: flex;
        margin-top: 2%;
        justify-content: space-between;
    }

    .cartoes .card .opts {
        position: absolute;
        top: 45px;
        right: 15px;
        background-color: var(--color-white);
        padding: 15px 10px;
        width: 150px;
        display: none;
        z-index: 9;
        flex-direction: column;
        height: fit-content;
        border-radius: 25px;
        box-shadow: 0 0 5px #00000060;
    }

    .cartoes .card .opts button {
        border: none;
        padding: 5px;
        margin: 12px 0;
        background-color: var(--color-white);
        display: flex;
        justify-content: flex-start;
        font-size: 1rem;
        cursor: pointer;
    }

    .cartoes .card .opts button:hover {
        font-weight: bold;
    }


    .cartoes .card .opts button:nth-child(2) {
        color: var(--color-red-text);
    }

    .cartoes .card .outros .colors .lista {
        display: flex;
    }

    .cartoes .card .outros .colors .lista > div {
        margin-right: 5px;
    }

    .cartoes .card .outros .check {
        margin-top: 10px;
    }

    .modal-item {
        margin: 4% 0 4% 30%;
        width: 41%;
        border-radius: 25px;
        height: 80vh;
        border: none;
        padding: 2%;
        flex-direction: column;
        justify-content: space-between;
    }

    .buts {
        margin-top: 20px;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
    }

    .buts button {
        margin: 0 10px;
        padding: 5px 10px;
        border: 1px solid var(--color-white);
        border-radius: 16px;
        width: 120px;
        cursor: pointer;
    }

    .tarefa-concluida .titulo span,
    .tarefa-concluida .conteudo-card p {
        text-decoration: line-through;
        opacity: 0.6;
    }

    .buts button:nth-child(1) {
        border: 1px solid var(--color-red-text);
        background-color: var(--color-white);
        color: #FF6366;
        font-weight: bold;
    }

    .buts button:nth-child(2) {
        border: 1px solid var(--color-accent);
        background-color: var(--color-accent);
        color: var(--color-dark);
        font-weight: bold;
    }

    .mini-modal {
        height: 35vh;
        margin-top: 15%;
        flex-direction: column;
    }

    .check {
        user-select: none;
        display: flex;
        align-content: center;
    }

    .check input {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .modal-item .modal-body .title {
        margin-top: 2%;
    }

    .modal-item .modal-body .item {
        margin: 2% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .modal-item .modal-body .item input {
        padding: 10px 5px;
        border-radius: 25px;
        border: none;
        background-color: #e8e8e8;
    }

    .modal-item .modal-body .item input:focus {
        outline: 1px solid var(--color-dark);
    }

    .modal-item .modal-body .item textarea {
        background-color: var(--color-light-yellow);
        width: 100%;
        border: none;
        outline: none;
        border-radius: 25px;
        padding: 15px;
        color: #393939;
        resize: none;
        height: 25vh;
    }

    .modal-item .modal-body .col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .modal-item .modal-body .col > div {
        display: flex;
        flex-direction: column;
    }

    .modal-item .modal-body .col > div input,
    select {
        padding: 10px 15px;
        border-radius: 25px;
        border: none;
        width: 100%;
        margin-right: 5px;
    }

    .modal-item .modal-body .col > div input[type="date"] {
        background-color: #e8e8e8;
    }

    .item .text {
        height: 80%;
        overflow-y: auto;
        width: 100%;
    }

    .modal-item .buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .modal-item .buttons button {
        background-color: transparent;
        padding: 10px;
        width: 150px;
        margin: 0 5px;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 50px;
        font-weight: bold;
    }

    .mini-modal .input-modal {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .mini-modal .input-modal input {
        padding: 10px;
        border-radius: 16px;
        border: none;
        background-color: #e8e8e8;
        outline: 1px solid var(--color-dark);
    }

    .mini-modal .btns-modal {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 10%;
    }

    .mini-modal .btns-modal button {
        margin: 0 10px;
        width: 120px;
        padding: 5px;
        border-radius: 16px;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }

    .create-list {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .create-list button {
        background-color: var(--color-accent);
        color: var(--color-dark);
        font-weight: bold;
        font-size: 1rem;
        padding: 10px;
        border: none;
        border-radius: 16px;
        width: 100%;
    }

    .create-list button:active {
        transform: scale(1.01, 1.01);
    }

    .mini-modal .btns-modal button:nth-child(1) {
        border: 1px solid var(--color-red-text);
        color: var(--color-red-text);
        background-color: var(--color-white);
    }

    .mini-modal .btns-modal button:nth-child(2) {
        border: 1px solid var(--color-accent);
        color: var(--color-dark);
        background-color: var(--color-accent);
    }

    .modal-item .buttons button:nth-child(1) {
        color: var(--color-red-text);
    }

    .modal-item .buttons button:nth-child(1):hover {
        border: 1px solid var(--color-red-text);
    }

    .modal-item .buttons button:nth-child(2) {
        color: #383838;
        background-color: var(--color-accent);
    }

    .modal-item .buttons button:nth-child(2):hover {
        background-color: #ffd230;
        transform: scale(1.01, 1.01);
    }
}